<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    
    <div th:if="${users.isEmpty()}" th:text="${'La tabla no posee elementos.'}"></div>

    <table th:if="${not users.isEmpty()}"> <!-- el "th" no muestra la tabla si esta vacia -->
        <thead>
            <tr>
                <th>Name</th> <!-- th es para cabecera -->
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}"> 
                <td th:text="${user.name}"></td> <!-- td es para las filas -->
                <td th:text="${user.lastname}"></td>
                <td th:if="${user.email}" th:text="${user.email}"></td> 
                <td th:if="${not (user.email != null)}" th:text="${'No posee Email'}"></td> <!-- Muestra un msj en caso de no haber email -->
            </tr>
        </tbody>
    </table>

</body>
</html>